
/* =====================
        Body Start 
======================== */


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* ---------------------
         Body End 
------------------------ */



/* =====================
    1st Section Start
======================== */


.section-home{
    padding: 135px 141px 86px 156px;
    background-color:#2D25A0;
}
.football-headhome{
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}

.home-heading{
    margin: 0 107px 27px 0;
    color: #FFFFFF;
    font-size: 64px;
    font-weight:700;
    line-height: 80px;
}


.home-button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;

}

.home-button:hover{
    background-color: yellow;
    padding: 20px 44px 20px 44px;
    transition: .5s;
}


.home-picture, img{
    transition: transform .5s;
    width: 556px;
    height: 456px;
}

.home-picture:hover{
    transform: scale(1.3);
}


/* ---------------------
    1st Section End 
------------------------ */



/* =====================
    Section Blog Start
======================== */

.section-blogs{
    padding: 70px 0;
    background-color: #FFFFFF;

}
.blogs{
    justify-content: center;
    margin: auto;
    width: 600px;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.blog{
    width: 330px;
    height: 456px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.13);
}

h2{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    margin: 16px 0 10px 0;
}

p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
}

.img-2{
    width: 330px;
    height: 266px;
}

/* ---------------------
    Section Blog End 
------------------------ */



/* =====================
Section Subscriber Start
======================== */

.section-subscriber{
    padding-top: 90px;
    
}

.subscribe{
    display: flex;
}
.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input, button{
    font-size: 1.3em;
    padding: 30px 50px;
    margin-top: 25px;
    border: 1px solid rgb(207, 207, 207);
}

@keyframes button {
    from{
        background-color: #E02C6D;
    }
    
    to{
        font-weight: 700;
        transform: scale(1.1);
        background-color: yellow;
    }
}

.button{
animation: button .7s ease-out .7s infinite alternate;

}

.subscribe-us{
    margin: auto;
    width: 600px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 235px;
}

.h2{
    margin-top:0;
}

/* ---------------------
Section Subscriber End 
------------------------ */



/* =====================
        Footer Start
======================== */
footer{
    margin-top: 158px;
    margin-bottom: 63px;
}
.main-footer{
text-align: center;
}

.footer-image{
    width: 483px;
    height: 110px;
    margin-bottom:20px;
}

.fab{
    color: #969BAB;
    background-color: rgba(214, 214, 214, 0.747);
    font-size: 16px;
    padding: 7px;
    margin-right: 10px;
    border-radius: 100px;
}

.footer-text{
    margin-top: 20px;
    margin-bottom: 0;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}


/* ---------------------
        Footer End 
------------------------ */



/* =====================
    Mobile Mode Start
======================== */

@media only screen and (max-width: 688px) {


    
/* =====================
    1st Section Start
======================== */

.section-home{
    margin:0;
    padding: 16px;
}


.football-headhome{
    margin: 30px 0 46px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: left;
}

.football-home{
    margin-bottom: 50px;
}

.home-heading{
    margin: 0 0 30px 0;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}

.home-picture, img{
    width: 329px;
    height: 259px;
}

/* ---------------------
    1st Section End 
------------------------ */


/* =====================
    Section Blog Start
======================== */
.section-blogs{
    padding: 47px 16px 60px 16px;
}
.blog{
    width: 330px;
    height: 456px;
}
.blogs{
    align-items: center;
    margin: 0;
    width: 330px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 26px;
}

H2{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight:normal;
}


/* =====================
Section Subscriber Start
======================== */
.section-subscriber{
    margin: 0 16px 0 16px;
}

.subscribe-us{
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.video{
    width:100%;
height: 200px;
}

/* ---------------------
Section Subscriber End 
------------------------ */

/* =====================
        Footer Start
======================== */
footer{
    margin: 43px 16px 178px 16px;
}

.footer-image{
    width: 243px;
    height: 55px;
    margin-bottom:20px;
}






/* ---------------------
        Footer End 
------------------------ */
    
}

/* ---------------------
    Mobile Mode End 
------------------------ */